.buscador {
    height: 35px;
    width: 40%;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    padding-left: 25px;
    padding-right: 5px;
    color: #353535;
}

@media screen and (max-width: 600px) {
    .buscador {
        width: 70%;

    }
}