.receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    width: 80%;
    margin: auto;
    background-color: #ffffff;
    padding: 25px 35px;
    justify-content: start;
    text-align: left !important;
}

.receta h2 {
    font-size: 18px;
    color: #B22020;
}

.receta p {
    align-self: flex-start;
}

.receta p label {
    color: #B22020;
    font-weight: 600;

}

.receta ul {
    align-self: flex-start;
}