.creandoReceta {
    position: absolute;
    width: 90%;
    opacity: 0.3;
}

.inteligenciaArtificial {
    position: absolute;
    opacity: 0.5;
    width: 20%;
    padding-top: 50px;
}

.procesandoReceta {
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 15px 50px;
}

.procesandoReceta-link {
    font-size: 21px;
    position: fixed;
    bottom: 25px;
}

.procesandoReceta h2 {
    background-color: #094361;
    z-index: 100;
    color: #F2F2F2;
    padding: 15px 85px;
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .procesandoReceta {
        width: auto;
        padding: 5px 5px;
    }

    .procesandoReceta h2 {
        padding: 5px 5px;
        text-align: center;
        font-size: 18px;
    }

    .creandoReceta {
        top: 80px;
    }

    .inteligenciaArtificial {

        top: 120px;
    }

}